body, p {
	margin:0px;
	font-family: Arial;
}

body {
	background-color: #8c7674;
	background-image: url(images/bandas.jpg);
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

body.bodyBand {
	background: #fff;
}

h1 {
	font-size: 40px;
	text-align: center;
	margin: 10px 0px;
}

h2 {
	font-size: 30px;
	margin: 10px 0px;
}

.home ul {
	width: 100%;
	list-style-type: none;
	display: inline-block;
	background: black;
	opacity: 0.9;
	margin: 0px;
    padding: 0px;
}

.home ul li {
	float: left;
    color: #fff;
    padding: 15px 30px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.7s ease;
}

.home ul li:hover {
	background: #01DF3A;
}

.cerrar {
	position: absolute;
    top: 5px;
    right: 10px;
    font-size: 60px;
    font-weight: bold;
    cursor: pointer;
}

.construction-page img {
	width: 30%;
    margin-top: 30px;
    opacity: 0.7;
}

.band, .construction-page {
	padding-top:50px;
	text-align: center;
}

.band .iframe-wrapper {
	padding-bottom: 30px;
}

.band .iframe-wrapper iframe {
	width:560px;
	height: 315px;
}

.band .texto {
	float: left;
	width: calc(100% - 400px);
    box-sizing: border-box;
	font-size: 14px;
    line-height: 20px;
    text-align: justify;
    padding: 0px 20px;
}

.band .image-wrapper {
	float: left;
	width: 400px;
	box-sizing: border-box;
	padding:0px 20px 15px 0px;
}

.band .image-wrapper img {
	width: 100%;
}


@media screen and (max-width: 900px) {
	body {
		background-size: 120%;
	}

	.cerrar{
		font-size: 40px;
	}

	.construction-page img {
		width: 50%;
	}

	.band .texto{
		float: none;
		font-size: 13px;
		width: 100%;
		margin-bottom: 15px;
	}

   	.band .image-wrapper {
   		float: none;
   		width: 400px;
   		display: inline-block;
   		padding-right: 0px;
   	}
}

@media screen and (max-width: 768px) {
	body {
		background-size: 140%;
	}

    h2 {
		font-size: 25px;
	}

	.band .iframe-wrapper {
		padding-bottom: 15px;
	}

    .band .iframe-wrapper iframe {
		width:400px;
		height: 225px;
	}

	.band .image-wrapper {
   		width: 400px;
   	}
}

@media screen and (max-width: 600px) {
	body {
		background-size: 170%;
	}
}

@media screen and (max-width: 480px) {
	body {
		background-size: 200%;
	}

    .band .iframe-wrapper iframe {
		width:350px;
		height: 195px;
	}

	.construction-page img {
		width: 65%;
	}

	.band .texto{
		font-size: 12px;
	}

	.cerrar {
		font-size:30px;
	}

	.band .image-wrapper {
   		width: 90%;
    	margin: 0 5%;
   	}
}

@media screen and (max-width: 400px) {
	body {
		background-size: 285%;
	}
	    
}